apiVersion: v1
kind: Namespace
metadata:
  name: reddit
---
apiVersion: v1
kind: Secret
metadata:
  name: reddit-secrets
  namespace: reddit
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: my-secret-pw
  MYSQL_PASSWORD: reddit_password
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-initdb-config
  namespace: reddit
data:
  init.sql: |
    CREATE DATABASE IF NOT EXISTS reddit_db;
    CREATE USER IF NOT EXISTS 'reddit_user'@'%' IDENTIFIED BY 'reddit_password';
    GRANT ALL PRIVILEGES ON reddit_db.* TO 'reddit_user'@'%';
    FLUSH PRIVILEGES;
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: reddit
spec:
  selector:
    app: mysql
  ports:
    - port: 3306
      targetPort: 3306
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: reddit
spec:
  selector:
    matchLabels:
      app: mysql
  replicas: 1
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: mysql:8
        ports:
          - containerPort: 3306
        env:
          - name: MYSQL_ROOT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: reddit-secrets
                key: MYSQL_ROOT_PASSWORD
        volumeMounts:
          - name: init-script
            mountPath: /docker-entrypoint-initdb.d
      volumes:
        - name: init-script
          configMap:
            name: mysql-initdb-config
